<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.cs2340.nochill">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presenters.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenters.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".presenters.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".presenters.LoggedInActivity"
            android:label="@string/title_activity_logged_in" />
        <activity
            android:name=".presenters.UserProfileActivity"
            android:label="@string/title_activity_user_profile" />
        <activity
            android:name=".presenters.NewReleasesActivity"
            android:label="@string/title_activity_new_releases" />
        <activity
            android:name=".presenters.NewDVDActivity"
            android:label="@string/title_activity_new_dvd" />
        <activity
            android:name=".presenters.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".presenters.DescriptionActivity"
            android:label="@string/title_activity_description" />
        <activity
            android:name=".presenters.RecommendationActivity"
            android:label="@string/title_activity_recommendation" />
        <activity
            android:name=".presenters.AdminActivity"
            android:label="adminActivity"></activity>
    </application>

</manifest>
